.home {
	margin:0;
}

/* Home Page*/
.container {
	background:url("backgroundpattern.png")no-repeat center center fixed;
	background-size:cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	height:900px;
	width:100%;
}

.containercontent {
	color:white;
	font-family: 'Press Start 2P', cursive;
	text-align:center;
	padding-top:300px;
	text-transform: uppercase;
    
}

.containercontent h1 {
	font-family: 'Press Start 2P', cursive;
	font-size:50px;
	text-shadow: 1.5px 1.5px black;
}	

#button {
	font-family: 'Press Start 2P', cursive;
	outline:none;
	height:50px;
	width:200px;
	border:none;
	cursor:pointer;
	border-radius:50px;
	background-color:gray;

}

a:-webkit-any-link{
	color: black;
    cursor: pointer;
    text-decoration:none;
}

a:hover {
	color: black;
}

a:linked{
	color:black;
}

.move {
width: 50px;
height:50px;
position:fixed;   
}

/*Gamepage*/

body {
		padding:0px;
		margin-left:180px;
		margin-top:200px
		background:white;
}

#gametitle {
	font-family: 'Press Start 2P', cursive; margin-left:210px
}

#titlerules {
	text-align:center;

}

#rules {
	float:right;
	margin-right:10px;
	margin-top:50px;
	margin-left:210px
	width:100px;
	font-family: 'Press Start 2P', cursive; 
	border:1px solid black;
	padding-bottom:10px;
	padding-right:20px;
}

#rules ul {
	list-style-type: none;
	font-family: 'Press Start 2P', cursive; 
	font-size:10px;
}

#run {
	float:right;
	bottom:0;

}