html, body {
	margin:0;
}

.container {
	background:url("backgroundpattern.png")no-repeat center center fixed;
	background-size:cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	height:900px;
	width:100%;
}

.containercontent {
	color:white;
	font-family: 'Press Start 2P', cursive;
	text-align:center;
	padding-top:300px;
	text-transform: uppercase
    
}

.containercontent h1 {
	font-family: 'Press Start 2P', cursive;
	font-size:50px;
	text-shadow: 1.3px 1.3px black;
}	

#button {
	font-family: 'Press Start 2P', cursive;
	background-color:pink;
	outline:none;
	height:50px;
	width:200px;
	border:none;

}

a:-webkit-any-link{
	color: black;
    cursor: pointer;
    text-decoration:none;
}

a:hover {
	color: blue;
}

a:linked{
	color:black;
}