doctype
html
	head
		title Homepage
		link(rel="stylesheet" href="main.css" type="text/css")
		link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet")

	body
		div
			iframe.container(src="https://giphy.com/embed/T1Ce0A4ToxXXO" width="480" height="271" frameBorder="0" class="giphy-embed" allowFullScreen)
			div.containercontent 
				h1 ROBOCLIMBER