doctype
html.home
	head
		title Homepage
		link(rel="stylesheet" href="main.css" type="text/css")
		link(href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet")

	body.home
		div.container
			div.containercontent 
				h1 ROBOCLIMBER
				button#button
					a(href="/game") Play Game
				div.move
					img(src="runningman.png")

		script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js")
		script.
			$(document).ready(() => {
				$('#button').hover(() => {
					$('#button').css("background-color", "#B22222")
				});

				$('#button').mouseleave(() => {
					$('#button').css("background-color", "	gray")
				});

				animateDiv();
			});

			function makeNewPosition(){
			    var height = $(window).height() - 50;
			    var width = $(window).width() - 50;
			    
			    var newh = Math.floor(Math.random() * height);
			    var neww = Math.floor(Math.random() * width);
			    
			    return [newh,neww];    
			    
			}

			function animateDiv(){
			    var movement = makeNewPosition();
			    $('.move').animate({top: movement[0], left: movement[1] }, function(){
			      animateDiv();        
			    });
			    
			};