doctype
html
	head
		title Homepage
		link(rel="stylesheet" href="main.css" type="text/css")
		link(href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet")

	body
		div.container
			div.containercontent 
				h1 ROBOCLIMBER
				button#button
					a(href="/game") Play Game

		script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js")
		script.
			$(document).ready(() => {
				$('#contactsubmit ').hover(() => {
					$('#contactsubmit ').css("background-color", "#262626")
				});

				$('#contactsubmit ').mouseleave(() => {
					$('#contactsubmit').css("background-color", "black")
				})
			});