doctype
html
	head
		meta(charset="UTF-8")
		script(type='text/javascript' src="js/phaser.js")
		title Game 
		style.
			body {
				padding:0px;
				margin: 0px;
				background:white;
			}
	body
	script(type='text/javascript' src="js/main.js")