doctype
html
	head
		meta(charset="UTF-8")
		script(type='text/javascript' src="js/phaser.js")
			//- window.onload = function(){
			//- var game = new Phaser.game(800, 600, Phaser.CANVAS, '')
			//- }
		title Game 
		style.
			body {
				padding:0px;
				margin: 0px;
				background:white;
			}
	body
	script(type='text/javascript' src="js/main.js")